
.study-c{
 display: grid;
 grid-template-columns: 4fr 1fr;
 margin: 100px 50px;
}
.conatiner1{

 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 30px;
}
.container2{
 background-color: rgb(236, 195, 234);
 border-radius: 10px;
}
.myInfo{
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;
 background-color: orchid;
 margin: 10px;
 border-radius: 10px;
}
h3{
 text-align: center;
}
